# Directories

/.idea/*
/cmake-build-debug/*
/CMakeFiles/*
ai/CMakeFiles/*
/build/*
/user/build/*


# MinGW Makefile

Makefile
*.cbp

# Visual Studio

/*.dir/*
/Win32/*
/x64/
/Debug/*
/Release/*
ai/*.dir/*
ai/Win32/*
ai/x64/
ai/Debug/*
ai/Release/*
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj
*.filters

# Other CMake Files

*.cmake
CMakeCache.txt

# Compiled Executables and Libraries

*.exe
*.dll
*.a

# Files Used for Debugging

output.txt
log.txt
